<template>
  <b-row>
    <b-col md="4">
      <b-card>
        <!--  -->
        <b-group class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <feather-icon-vue icon="UsersIcon" size="25" />
            <b-badge variant="primary" class="ml-1">Физ.лицо</b-badge>
          </div>

          <div class="d-flex align-items-center">
            <b-form-checkbox
              checked="true"
              class="custom-control-success text-center"
              name="check-button"
              switch
            />
            <b-button variant="gradient-primary" class="btn-icon">
              <feather-icon icon="CodepenIcon" />
            </b-button>
            <b-button variant="gradient-warning" class="btn-icon ml-50">
              <feather-icon icon="EditIcon" />
            </b-button>
          </div>
        </b-group>

        <!--  -->
        <b-group class="d-flex justify-content-between mt-2">
          <feather-icon-vue icon="UserIcon" size="25" />
          <h6 class="pt-50 font-weight-bolder">Тян Павел Робертович</h6>
        </b-group>

        <!--  -->
        <b-group class="d-flex justify-content-between mt-2">
          <feather-icon-vue icon="PhoneCallIcon" size="25" />
          <p class="font-weight-bolder">+998977022062</p>
        </b-group>

        <!--  -->
      </b-card>
      <b-card>
        <div class="d-flex justify-content-between">
          <feather-icon-vue icon="FileTextIcon" size="25" />
          <h5 class="m-auto">Паспортные данные</h5>
          <b-button variant="gradient-warning" class="btn-icon ml-50">
            <feather-icon icon="EditIcon" />
          </b-button>
        </div>
      </b-card>

      <!--  -->
      <b-card>
        <div class="d-flex justify-content-between">
          <feather-icon-vue icon="CreditCardIcon" size="25" />
          <h5 class="m-auto">Пластиковые карты</h5>
          <b-button variant="gradient-warning" class="btn-icon ml-50">
            <feather-icon icon="EditIcon" />
          </b-button>
        </div>
      </b-card>

      <!--  -->
    </b-col>
    <b-col md="8">
      <b-card>
        <b-tabs content-class="pt-1" style="height:650px" fill>
          <b-tab title="Комментарии"> </b-tab>
          <b-tab active title="Задача"> </b-tab>
          <b-tab title="Файлы"> </b-tab>
          <b-tab title="История обращения"> </b-tab>
        </b-tabs>

        <!--  -->
         <b-form-textarea
      id="textarea-no-resize"
      placeholder="Напишите комментарий"
      rows="3"
      no-resize
    />
  </div>

<!--  -->
<div class="d-flex justify-content-end">
    <b-button
      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
      variant="primary"
      class="mt-1 p-50"
    >
      Оставить комментарий
    </b-button>
    </div>

      </b-card>
    </b-col>
  </b-row>
</template>
<script>
import {
  BCard,
  BRow,
  BCol,
  BFormCheckbox,
  BBadge,
  BTabs,
  BTab,
  BButton,
  BFormTextarea,
} from "bootstrap-vue";
import FeatherIconVue from "@core/components/feather-icon/FeatherIcon.vue";

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormCheckbox,
    FeatherIconVue,
    BBadge,
    BTabs,
    BTab,
    BButton,
    BFormTextarea,
  },
};
</script>
