<template>
<b-row>
<b-col md="8">
<b-card>
    <h3>Сделать АПИ для Статистика (сколько времени потратили на уроки тд</h3>
<p class="mt-3">Сделать АПИ для Статистика (сколько времени потратили на уроки тд</p>
</b-card>
<b-card>
<h4 class="mb-1">Прикрепленные файлы </h4>
    <b-form-file
      placeholder="Загрузить файл"
      drop-placeholder="Drop file here..."
    />
</b-card>
     <b-card>
        <b-tabs content-class="pt-1" class="d-flex justify-content-start" style="height:500px" fill>
          <b-tab title="Комментарии"> </b-tab>
        </b-tabs>

        <!--  -->
         <b-form-textarea
      id="textarea-no-resize"
      placeholder="Напишите комментарий"
      rows="3"
      no-resize
    />
  </div>

<!--  -->
<div class="d-flex justify-content-end">
    <div class="d-flex">
       <b-button
      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
      variant="warning"
      class="mt-1 p-50"
    >
      Прикрепит файл
    </b-button>

    <b-button
      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
      variant="primary"
      class="mt-1 p-50 ml-1"
    >
      Оставить комментарий
    </b-button>
    </div>
    </div>

      </b-card>

</b-col >

<b-col md="4">
    <b-card>
        <b-group class="d-flex justify-content-between pt-50">
 <div class="d-flex">
     <feather-icon-vue icon="MailIcon" size="20" class="mr-1"/>
     <h5 >Код проекта</h5>
 </div>
 <div>
    <b-badge variant="secondary" class="ml-1">5 Skill-16</b-badge>
 </div>
 </b-group>

<hr>

   <b-group class="d-flex justify-content-between pt-50">
 <div class="d-flex">
     <feather-icon-vue icon="MailIcon" size="20" class="mr-1"/>
     <h5 >Название проекта</h5>
 </div>
 <div>
    <b-badge variant="secondary" class="ml-1">Учебный центр</b-badge>
 </div>
 </b-group>

<hr>

   <b-group class="d-flex justify-content-between pt-50">
 <div class="d-flex">
     <feather-icon-vue icon="MailIcon" size="20" class="mr-1"/>
     <h5 >Модуль в проекте</h5>
 </div>
 <div>
    <b-badge variant="secondary" class="ml-1">Уроки</b-badge>
 </div>
 </b-group>

<hr>

   <b-group class="d-flex justify-content-between pt-50">
 <div class="d-flex">
     <feather-icon-vue icon="MailIcon" size="20" class="mr-1"/>
     <h5 >Приоритет</h5>
 </div>
 <div>
    <b-badge variant="danger" class="ml-1">High</b-badge>
 </div>
 </b-group>

 <hr>
 <b-group class="d-flex justify-content-between">
 <div class="d-flex pt-50">
     <feather-icon-vue icon="UserIcon" size="20" class="mr-1"/>
     <h5 >Исполнитель</h5>
 </div>
 <div class="d-flex justify-content-center">
  <h5 class="pt-50">Anna Rose</h5>
   <b-avatar
      :src="require('@/assets/images/portrait/small/avatar-s-20.jpg')"
      class="ml-1"
    />
 </div>
 </b-group>

    </b-card>
    <b-card>
       <b-group class="d-flex justify-content-between pt-50">
 <div class="d-flex">
     <feather-icon-vue icon="ClockIcon" size="20" class="mr-1"/>
     <h5 >Точка хранения</h5>
 </div>
 <div>
    <b-badge variant="danger gradient" class="ml-1">4</b-badge>
 </div>
 </b-group>
    </b-card>
<b-card>
<b-group class="d-flex justify-content-between">
  <div class="d-flex justify-content-center">
  <b-avatar
      :src="require('@/assets/images/portrait/small/avatar-s-20.jpg')"
      class="mr-1"
    />
 <h5 class="pt-50">To Do</h5>
 </div>
<p class="pt-50">21.06.2022 16.07</p> 
 </b-group>

 
 </div>
</b-card>
</b-col>


</b-row>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormFile,
  BTabs,
  BTab,
  BBadge,
  BButton,
  BFormTextarea,
  BAvatar,
} from "bootstrap-vue";
import FeatherIconVue from "@core/components/feather-icon/FeatherIcon.vue";

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormFile,
    BTabs,
    BTab,
    BBadge,
    BButton,
    BFormTextarea,
    FeatherIconVue,
    BAvatar,
  },
};
</script>
